In [81]:
import pandas as pd
import numpy as np

In [82]:
df = pd.read_csv("adult.data.csv")

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object

# How many people of each race are represented in this dataset.

In [83]:
race_count = pd.Series(df["race"].value_counts())
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# Average age of men in the dataset

In [84]:
average_age_men = np.mean(df[df["sex"] == "Male"]["age"]).round(1)
average_age_men

39.4

# Percentage of people with a Bachelors degree.

In [139]:
percentage_bachelor = round((df[df["education"] == "Bachelors"].shape[0] / df.shape[0] * 100), 1)
percentage_bachelor

16.4

# Percentage of people with advanced education (Bachelors, Masters, Doctorate) that make > 50k

In [92]:
higher_education_group = (
    df[df["education"] == "Bachelors"],
    df[df["education"] == "Masters"],
    df[df["education"] == "Doctorate"],
)
higher_education_group = pd.concat(higher_education_group) 
higher_education_rich = round((higher_education_group[higher_education_group["salary"] == ">50K"].shape[0] / higher_education_group.shape[0] * 100), 1)
higher_education_rich

46.5

# People without advanced education that make > 50k

In [138]:
lower_education_group = df[df["education"] != "Bachelors"]
lower_education_group = lower_education_group[lower_education_group["education"] != "Masters"]
lower_education_group = lower_education_group[lower_education_group["education"] != "Doctorate"]

lower_education_rich = round ( (len( lower_education_group[lower_education_group["salary"] == ">50K"]) / len(lower_education_group)) * 100, 1)
lower_education_rich

17.4

# Minimum number of hours a person works per week

In [89]:
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

# Percentage of people who work the minimum numbers of hours per week with a salary < 50k

In [90]:
num_min_workers = df[df["hours-per-week"] == min_work_hours].shape[0]
num_min_workers

20

In [91]:
min_workers = df[df["hours-per-week"] == min_work_hours]
rich_percentage = round((min_workers[min_workers["salary"] == ">50K"].shape[0] / min_workers.shape[0] * 100), 1)
rich_percentage

10.0

# Country with the biggest percentage of  >50K Salary workers

In [126]:
highest_earning_country = (df[df["salary"] == ">50K"]["native-country"].value_counts() / df["native-country"].value_counts() * 100).idxmax()
highest_earning_country

'Iran'

In [128]:
highest_earning_country_percentage = round((df[df["salary"] == ">50K"]["native-country"].value_counts() / df["native-country"].value_counts() * 100).max(), 1)
highest_earning_country_percentage

41.9

# The most popular occupation for those who earn >50K in India.

In [127]:
top_IN_occupation = (df[df["native-country"] == "India"]["occupation"].value_counts() / df["occupation"].value_counts() * 100).idxmax()
top_IN_occupation

'Prof-specialty'